{% extends 'base.html' %}


{% block content %}
<ul>
    Фильтры:

    <a class="buy-button" href="{% url 'game_filter' %}?order=newest">Недавно добавленные</a> |
    <a class="buy-button" href="{% url 'game_filter' %}?order=price">Самые дешевые</a>


    <div class="game-list">
        {% for game in games %}
        <div class="game-item">
            {% if game.image %}
            <img class="img-game" src="{{ game.image.url }}" alt="{{ game.title }}">
            {% endif %}
            <div class="game-title">{{ game.title }}</div>
            <div class="game-price">{{ game.price }}</div>
            <p>Автор:{{ game.author }}</p>
            <p class="buy-button"><a href="{{ game.get_absolute_url }}">Читать пост</a></p>
        </div>
        {% endfor %}
    </div>
</ul>
{% endblock %}


{% block navigation %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?order={{ request.GET.order }}&page={{ page_obj.previous_page_number }}"><</a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?order={{ request.GET.order }}&page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?order={{ request.GET.order }}&page={{ page_obj.next_page_number }}">></a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}
